.toplogo,
.bottomlogo {
    position: fixed;
    z-index: 1;
    font-size: 0.75rem;
}

.toplogo {
    width: 20%;
    max-width: 18em;
    top: 5%;
    left: 5%;
}

.bottomlogo {
    width: 15%;
    max-width: 12em;
    bottom: 5%;
    right: 5%;
}

.mapped {
    position: relative;
}

.mapped__img {
    display: block;
}

.mapped__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    //fill: #56627a;
    fill: transparent;

    a {
        &:hover,
        &:focus {
            //cursor: zoom-in;
        }
    }
}
